.block {
	display:inline-block;
	width: 92px;
	height: 92px;
	font-size: 60pt;
	border: outset;
	transition: background 0.2s ease-in-out;
	text-align: center;
	vertical-align: middle;	
}

.red {
	color:red;
}

.navy{
	color:navy;
}

.block:hover {
	cursor: pointer;
	background: #FAEBD7;
}
